.btn-rose {
  background-color: #CAB1BC;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgb(122, 122, 122);
}

.btn-rose a {
  color: white;
}

.btn-rose:hover {
  background-color: #a59099;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgb(122, 122, 122);
}
